.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'BentonSans', sans-serif;
  height: 32px;
  padding: 5px 5px;
  border-radius: 5px;
}

.primary {
  background: var(--secondary);
  color: var(--white);
}
