.chart__container {
  margin: auto;

  &--xs {
    width: 500px;
  }

  &--md {
    width: 750px;
  }

  &--xl {
    width: 1000px;
  }
}

svg {
  display: inline-block;
}

circle {
  stroke: transparent;
  transition: stroke 0.2s;
  &:hover {
    stroke: black;
  }
}
text {
  line-break: normal;
  word-break: break-all;
}
tspan {
  display: block;
}
