.chart__container {
  margin: 30px auto;
  &--xs {
    width: 500px;
  }

  &--md {
    width: 750px;
  }

  &--xl {
    width: 1000px;
  }

  &--responsive {
    width: 100%;
    max-width: 100% !important;
  }
}

svg {
  display: inline-block;
}

circle {
  stroke: transparent;
  transition: stroke 0.2s;
}
.all {
  circle {
    &:hover {
      cursor: zoom-in;
      stroke: #ffffff;
      stroke-width: 3;
      opacity: 1 !important;
    }
  }
}
text {
  line-break: normal;
  word-break: break-all;
  display: block;
  &.d-none {
    display: none !important;
  }
}
tspan {
  display: block;
  line-break: normal;
  word-break: break-all;
}

.am_chart {
  width: 100%;
  height: 900px;
  &.doughnut_chart {
    height: 700px;
  }
  &.linearea_chart {
    height: 400px;
  }
}

@media only screen and (max-width: 767px) {
  .am_chart {
    height: 400px;
    &.doughnut_chart {
      height: 450px;
    }
  }
}
